body {
  font-size: 14px;
  background: #2d2a2e;
  color: #ffffff;
  font-family: Helvetica, Arial, Sans-Serif;
}
article {
  margin: 0 auto;
  padding: 8px;
  max-width: 980px;
}
h1,
h2 {
  font-size: 32px;
  color: #ffbf00;
}
h1 {
  font-size: 42px;
  text-align: center;
  margin: 0 0 10px;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 0 0 10px;
}
a {
  color: #5cc4d8;
  text-decoration: none;
}

.stream-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stream-list li {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  text-indent: -0.7rem;
}

.stream-list li::before {
  content: "📺 ";
  font-size: 18px;
}

.stream-list .stream-title {
  font-size: 18px;
  font-weight: bold;
  padding-right: 4px;
}

.stream-list .stream-time {
  font-style: italic;
}

.stream-list .stream-desc {
  margin-left: 28px;
}

.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.links li {
  margin: 5px 0;
}

.links a {
  font-size: 20px;
  align-items: center;
  color: inherit !important;
  text-decoration: none !important;
  display: flex;
  padding: 10px 0 10px 5px;
  color: #2d2a2e !important;
  background-color: #5cc4d8;
  border-radius: 4px;
}

.links a:hover {
  background-color: #a6e22e;
}

.links .fab,
.links .fas {
  font-size: 28px;
  display: flex;
  justify-content: center;
  width: 45px;
  margin-right: 5px;
}

.bio img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}
